@mixin column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}