// FONTS

$main-font: 'Open Sans Condensed', sans-serif;
$secondary-font: Arial, sans-serif;

// COLORS

$main-color: #23211f;
$secondary-color: #d33f34;
$background-color: #f5f5f5;
$secondary-gradient-color: #a61322;